@font-face {
  font-family: "NespressoLucas-light";
  src: url("../fonts/NespressoLucas-Light.otf") format("opentype");

  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "NespressoLucas-normal";
  src: url("../fonts/NespressoLucas-Med.otf") format("opentype");

  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NespressoLucas-bold";
  src: url("../fonts/NespressoLucas-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
