$assetsUrl: "https://www.nespresso.com/shared_res/agility/subscription/subscription/img/";
$lucasLight: "NespressoLucas-light", Arial, Helvetica, sans-serif !important;
$lucasNormal: "NespressoLucas-normal", Arial, Helvetica, sans-serif !important;
$lucasBold: "NespressoLucas-bold", Arial, Helvetica, sans-serif !important;
$fontNespressoUrl: "https://www.nespresso.com/shared_res/agility/commons/fonts";
