$assetsUrl: "/shared_res/agility/subscriptionCoffeeJourney/landingPage/img/";
$imagesGitStorage: "/shared_res/agility/subscriptionCoffeeJourney/landingPage/img/";
$nespressoFont: "NespressoLucas", "Trebuchet MS", "Lucida Grande",
  "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif !important;
// $fontNespressoUrl: "https://www-staging.nespresso.com/shared_res/agility/commons/fonts";

// COLORS
$greenColor: #3d8705;
$brownColor: #8f7247;
