$assetsUrl: "https://www.nespresso.com/shared_res/agility/subscription/subscription/img/";
$imagesGitStorage: "https://raw.githubusercontent.com/miguelRivero/machine-plp/master/public/images/";
$lucasLight: "NespressoLucas-light", Arial, Helvetica, sans-serif !important;
$lucasNormal: "NespressoLucas-normal", Arial, Helvetica, sans-serif !important;
$lucasBold: "NespressoLucas-bold", Arial, Helvetica, sans-serif !important;
// $fontNespressoUrl: "https://www-staging.nespresso.com/shared_res/agility/commons/fonts";

// COLORS
$greenColor: #3d8705;
$brownColor: #8f7247;
